<div ng-controller="UsersController">
    <div class="row x-margin-btm-10 x-margin-top-10">
        <div class="col-xs-12">
            <a href="" class="btn btn-success btn-sm" ng-click="openUser(null)">
                <b class="fa fa-plus-square fa-left"></b>Добавить
            </a>
            <a href="" class="btn btn-danger btn-sm" disabled>
                <b class="fa fa-toggle-off fa-left"></b>Отключить
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table class="table x-table-clickable table-striped table-hover users-table">
                <thead>
                    <tr>
                        <th class="login-col">Логин</th>
                        <th class="application-col">Приложения</th>
                        <th class="group-col">Роли</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in paginator.getCurrentPage()" ng-click="openUser(user.$$complexUa)">
                        <td>{{user.login}}</td>
                        <td>
                            <span class="user-table-label label label-info"
                                  ng-if="context.enable"
                                  ng-repeat="context in user.contexts">
                                {{context.label}}
                            </span>
                        </td>
                        <td>
                            <span class="user-table-label label label-success"
                                  ng-if="group.enable"
                                  ng-repeat="group in user.groups">
                                {{group.label}}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div ng-if="paginator.$$collection.length > 0" class="center">
                <uib-pagination total-items="paginator.$$collection.length"
                                ng-model="paginator.$$index"
                                direction-links="false"
                                items-per-page="paginator.PAGE_SIZE">
                </uib-pagination>
            </div>

        </div>
    </div>
</div>