<div ng-controller="UsersController">
    <h1 class="page-header">Пользователи</h1>

    <div class="row x-margin-btm-10">
        <div class="col-xs-12">
            <a href="" class="btn btn-success btn-sm" ng-click="openUser(null)">
                <b class="fa fa-plus-square fa-left"></b>Добавить нового
            </a>
            <a href="" class="btn btn-danger btn-sm" disabled>
                <b class="fa fa-toggle-off fa-left"></b>Отключить
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped table-hover x-table-clickable">
                <thead>
                <tr>
                    <th>Имя корневой учетной записи</th>
                    <th>Контексты</th>
                    <th>Группы</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in paginator.getCurrentPage()" ng-click="openUser(user.$$complexUa)">
                    <td>{{user.login}}</td>
                    <td>
                        <span ng-repeat="context in user.contexts">
                            <a href="#">{{context.label}}</a>{{$last ? '' : ' |'}}
                        </span>
                    </td>
                    <td>
                        <span ng-repeat="group in user.groups">
                            <a href="#">{{group.label}}</a>{{$last ? '' : ' |'}}
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>

            <div ng-if="paginator.$$collection.length > 0" class="center">
                <uib-pagination total-items="paginator.$$collection.length"
                                ng-model="paginator.$$index"
                                direction-links="false"
                                items-per-page="paginator.PAGE_SIZE"
                                class="pagination-sm">
                </uib-pagination>
            </div>

        </div>
    </div>
</div>