<cover trigger="covered" type="success" label="подождите...">

    <div class="modal-header">
        <div class="row">
            <div class="col-xs-10">
                <h3 class="modal-title">
                    {{contractor.id ? "Редактирование контрагента #" + contractor.id : "Создание нового контрагента"}}
                </h3>
            </div>
            <div class="col-xs-2 text-right">
                <a href="" class="btn btn-default btn-sm" ng-click="close()">
                    <b class="fa fa-close"></b>
                </a>
            </div>
        </div>
    </div>

    <div class="modal-body">
        <uib-tabset>
            <uib-tab heading="Информация">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label class="control-label">Полное наименование</label>
                                <input type="text" class="form-control" ng-model="contractor.fullName"/>
                            </div>
                            <div class="col-xs-6">
                                <label class="control-label">Короткое наименование</label>
                                <input type="text" class="form-control" ng-model="contractor.shortName"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label class="control-label">ИНН</label>
                                <input type="text" class="form-control" ng-model="contractor.inn"/>
                            </div>
                            <div class="col-xs-6">
                                <label class="control-label">Адрес</label>
                                <input type="text" class="form-control" ng-model="contractor.address"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label class="control-label">Описание</label>
                                <textarea  ng-model="contractor.metaInfo" class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </uib-tab>
            <uib-tab heading="Услуги">
                <div class="row x-margin-top-10">
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Оказываемые услуги</h3>
                            </div>
                            <div class="panel-body">
                                <span class="pointer"
                                      ng-click="move(e, -1)"
                                      ng-repeat="e in contractor.services track by $index">
                                    <span class="label classic-label label-info">{{e.title}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Все услуги</h3>
                            </div>
                            <div class="panel-body">
                                <span class="pointer"
                                      ng-click="move(e, 1)"
                                      ng-repeat="e in services track by $index">
                                    <span class="label classic-label label-warning">{{e.title}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary"
                type="button"
                ng-if="contractor.id"
                ng-click="update(contractor)">Сохранить</button>

        <button class="btn btn-primary"
                type="button"
                ng-click="create(contractor)"
                ng-if="!contractor.id">Создать</button>

        <button class="btn btn-warning" type="button" ng-click="close()">Отмена</button>
    </div>
</cover>