<cover trigger="covered" type="success" label="подождите...">
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-10">
                <h3 class="modal-title">
                    {{ticket.id ? "Редактирование заявки #" + ticket.id : "Создание новой заявки"}}
                </h3>
            </div>
            <div class="col-xs-2 text-right">
                <a href="" class="btn btn-default btn-sm" ng-click="close()">
                    <b class="fa fa-close"></b>
                </a>
            </div>
        </div>
    </div>

    <div class="modal-body">
        <form class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <div class="col-xs-10">
                        <label for="title" class="control-label">Заголовок</label>
                        <input type="text" class="form-control" id="title" ng-model="ticket.title">
                    </div>
                    <div class="col-xs-2">
                        <label class="control-label">Приоритет</label>
                        <select class="form-control">
                            <option>Высокий</option>
                            <option selected="selected">Средний</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-4">
                        <label class="control-label">Дата фиксации</label>

                        <p class="input-group">
                            <input class="form-control"
                                   ng-model="ticket.dateOpen"
                                   uib-datepicker-popup="dd.MM.yyyy"
                                   is-open="dateOpenCalendar"
                                   close-text="Закрыть"
                                   clear-text="Очистить"
                                   current-text="Сегодня" readonly/>
                            <span class="input-group-btn">
                                <button type="button"
                                        ng-click="dateOpenCalendar = !dateOpenCalendar"
                                        class="btn btn-default">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>

                    <div class="col-xs-4">
                        <label for="line-support" class="control-label">Линия поддержки</label>
                        <p class="input-group">
                            <span class="input-group-btn">
                                <button ng-disabled="ticket.supportLevel.number <= 1"
                                        type="button"
                                        class="btn btn-default"
                                        ng-click="doEscalation(-1)">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </span>
                            <input id="line-support"
                                   type="text"
                                   class="form-control"
                                   value="{{ticket.supportLevel.number}} ({{ticket.supportLevel.title}})"
                                   readonly/>
                            <span class="input-group-btn">
                                <button type="button"
                                        ng-disabled="ticket.supportLevel.number >= supportLevelStore.length"
                                        class="btn btn-default"
                                        ng-click="doEscalation(1)">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </span>
                        </p>
                    </div>

                    <div class="col-xs-4">
                        <label class="control-label">Услуга</label>
                        <input type="text"
                               ng-disabled="!ticket.contractor.services.length"
                               ng-model="ticket.service"
                               uib-typeahead="service as service.title for service in ticket.contractor.services | filter:$viewValue"
                               typeahead-min-length="0"
                               typeahead-show-hint="true"
                               class="form-control">
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-xs-4">
                        <label class="control-label">Инициатор</label>
                        <input type="text"
                               value="{{ticket.author.firstName}} {{ticket.author.secondName}}"
                               class="form-control"
                               readonly>
                    </div>

                    <div class="col-xs-4">
                        <label class="control-label">Исполнитель</label>
                        <input type="text" ng-model="ticket.performer"
                               uib-typeahead="performer as performer.firstName for performer in performerStore | filter:$viewValue"
                               typeahead-min-length="0"
                               typeahead-show-hint="true"
                               class="form-control">
                    </div>

                    <div class="col-xs-4">
                        <label class="control-label">Контрагент</label>
                        <input type="text" ng-model="ticket.contractor"
                               uib-typeahead="contractor as contractor.fullName for contractor in contractorStore | filter:$viewValue"
                               typeahead-min-length="0"
                               typeahead-show-hint="true"
                               class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <label class="control-label">Прогресс (%)</label>
                        <div class="btn-group btn-group-justified" role="group">
                            <div class="btn-group" ng-repeat="state in progressStates">
                                <button type="button"
                                        ng-class="{
                                        'btn-secondary': ticket.progress !== state,
                                        'btn-success': ticket.progress === state
                                        }"
                                        ng-click="ticket.progress = state"
                                        class="btn btn-sm btn-secondary">{{state}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <label for="description" class="control-label">Описание</label>
                        <textarea class="form-control"
                                  rows="5"
                                  ng-model="ticket.description"
                                  id="description"></textarea>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-danger"
                type="button"
                ng-click="delete(ticket.id)"
                ng-if="ticket.id">Удалить</button>

        <button class="btn btn-primary"
                type="button"
                ng-if="ticket.id"
                ng-click="update(ticket)">Сохранить</button>

        <button class="btn btn-primary"
                type="button"
                ng-click="new(ticket)"
                ng-if="!ticket.id">Создать</button>

        <button class="btn btn-warning" type="button" ng-click="close()">Отмена</button>
    </div>
</cover>