<cover trigger="covered" type="success" label="подождите...">
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-10">
                <h3 class="modal-title">
                    {{ticket.id ? "Редактирование заявки #" + ticket.id : "Создание новой заявки"}}
                </h3>
            </div>
            <div class="col-xs-2 text-right">
                <a href="" class="btn btn-default btn-sm" ng-click="close(true)">
                    <b class="fa fa-close"></b>
                </a>
            </div>
        </div>
    </div>

    <div class="modal-body">
        <form class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <div class="col-xs-8">
                        <label class="control-label">Заголовок</label>
                        <input type="text"
                               ng-readonly="!logged.isCanEditTicket()"
                               class="form-control"
                               ng-model="ticket.title">
                    </div>

                    <div class="col-xs-2">
                        <label class="control-label">Тип</label>
                        <input type="text"
                               ng-disabled="!logged.isCanEditTicket()"
                               ng-model="ticket.ticketType"
                               typeahead-editable="false"
                               uib-typeahead="$ as $.title for $ in typeStore | filter: $viewValue || ''"
                               typeahead-min-length="0"
                               typeahead-show-hint="true"
                               class="form-control">
                    </div>

                    <div class="col-xs-2">
                        <label class="control-label">Приоритет</label>
                        <input type="text"
                               ng-disabled="!logged.isCanEditTicket()"
                               ng-model="ticket.priority"
                               typeahead-editable="false"
                               uib-typeahead="item as item.title for item in priorityStore | filter: $viewValue || ''"
                               typeahead-min-length="0"
                               typeahead-show-hint="true"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-4">
                        <label class="control-label">Дата фиксации</label>

                        <p class="input-group">
                            <input class="form-control"
                                   ng-model="ticket.dateOpen"
                                   uib-datepicker-popup="dd.MM.yyyy"
                                   is-open="dateOpenCalendar"
                                   close-text="Закрыть"
                                   clear-text="Очистить"
                                   current-text="Сегодня" readonly/>
                            <span class="input-group-btn">
                                <button type="button"
                                        ng-disabled="!logged.isCanEditTicket() || ticket.id"
                                        ng-click="dateOpenCalendar = !dateOpenCalendar"
                                        class="btn btn-default">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>

                    <div class="col-xs-4">
                        <label for="line-support" class="control-label">Уровень поддержки</label>
                        <p class="input-group">
                            <span class="input-group-btn">
                                <button ng-disabled="!logged.isCanEscalation(ticket, -1)"
                                        type="button"
                                        class="btn btn-default"
                                        ng-click="doEscalation(-1)">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </span>
                            <input id="line-support"
                                   type="text"
                                   class="form-control"
                                   value="{{ticket.supportLevel.number}} ({{ticket.supportLevel.title}})"
                                   readonly/>
                            <span class="input-group-btn">
                                <button type="button"
                                        ng-disabled="!logged.isCanEscalation(ticket, 1, supportLevelStore.length)"
                                        class="btn btn-default"
                                        ng-click="doEscalation(1)">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </span>
                        </p>
                    </div>

                    <div class="col-xs-4">
                        <label class="control-label">Услуга</label>
                        <input type="text"
                               ng-disabled="!logged.isCanEditTicket()"
                               typeahead-editable="false"
                               ng-model="ticket.service"
                               uib-typeahead="i as i.title for i in ticket.contractor.services | filter: $viewValue || ''"
                               typeahead-min-length="0"
                               typeahead-show-hint="true"
                               class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-4">
                        <label class="control-label">Инициатор</label>
                        <input type="text"
                               ng-disabled="!logged.isCanEditTicket()"
                               ng-model="ticket.initiator"
                               typeahead-editable="false"
                               uib-typeahead="i as i.firstName + ' ' + i.secondName for i in initiatorStore | filter: $viewValue || ''"
                               typeahead-min-length="0"
                               typeahead-show-hint="true"
                               class="form-control">
                    </div>

                    <div class="col-xs-4">
                        <label class="control-label">
                            Исполнитель
                            <span ng-if="logged.isCanAssignToMe(ticket)">-
                                <span class="text-primary hover" ng-click="assignToMe()">назначить себя</span>
                            </span>
                        </label>
                        <input type="text"
                               ng-disabled="!logged.isManager()"
                               ng-model="ticket.performer"
                               typeahead-editable="false"
                               uib-typeahead="$ as $.firstName + ' ' + $.secondName for $ in performerStore | filter: $viewValue || ''"
                               typeahead-min-length="0"
                               typeahead-show-hint="true"
                               class="form-control">
                    </div>

                    <div class="col-xs-4">
                        <label class="control-label">Контрагент</label>
                        <input type="text"
                               ng-disabled="!logged.isCanEditTicket()"
                               ng-model="ticket.contractor"
                               typeahead-editable="false"
                               uib-typeahead="$ as $.fullName for $ in contractorStore | filter: $viewValue || ''"
                               typeahead-min-length="0"
                               typeahead-show-hint="true"
                               class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <label class="control-label">Прогресс (%)</label>
                        <div class="btn-group btn-group-justified" role="group">
                            <div class="btn-group" ng-repeat="state in progressStates">
                                <button type="button"
                                        ng-disabled="!logged.isCanSetTicketProgress(ticket)"
                                        ng-class="{
                                        'btn-secondary': ticket.progress !== state,
                                        'btn-success': ticket.progress === state
                                        }"
                                        ng-click="ticket.progress = state"
                                        class="btn btn-sm btn-secondary">{{state}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label class="control-label">Вложения</label>
                        <inputfile on-read-begin="onRead()"
                                   on-read-complete="onCompete()"
                                   files="ticket.attaches"></inputfile>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label for="description" class="control-label">Описание</label>
                        <textarea class="form-control"
                                  rows="5"
                                  ng-readonly="!logged.isCanEditTicket()"
                                  ng-model="ticket.description"
                                  id="description"></textarea>
                    </div>
                </div>
            </fieldset>
            <ticket-comments ticket="ticket"></ticket-comments>
        </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-success"
                type="button"
                ng-click="showKnowledgeDetail(ticket)">
            Добавить решение в базу знаний</button>
        <button class="btn btn-danger"
                type="button"
                ng-click="remove(ticket.id)"
                ng-if="ticket.id">Удалить</button>

        <button class="btn btn-primary"
                type="button"
                ng-if="ticket.id"
                ng-click="update(ticket)">Сохранить</button>

        <button class="btn btn-primary"
                type="button"
                ng-click="create(ticket)"
                ng-if="!ticket.id">Создать</button>

        <button class="btn btn-warning" type="button" ng-click="close(true)">Закрыть</button>
    </div>
</cover>