<cover trigger="covered">
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-10">
                <h3 class="modal-title">{{user.account.id ? 'Редактирование' : 'Создание'}} пользователя</h3>
            </div>
            <div class="col-xs-2 text-right">
                <button class="btn btn-default btn-sm" ng-click="cancel()">
                    <b class="fa fa-close"></b>
                </button>
            </div>
        </div>
    </div>

    <div class="modal-body">
        <uib-tabset>
            <uib-tab heading="Аккаунт">
                <ng-include src="tplDir + 'ua-global.html'"></ng-include>
            </uib-tab>

            <uib-tab heading="Приложения">

                <div class="x-margin-top-10">
                    <uib-accordion>
                        <uib-accordion-group>
                            <uib-accordion-heading>
                                Клиент <toggle ref="user.customer" flag="enable"></toggle>
                            </uib-accordion-heading>
                            <ng-include src="tplDir + 'ua-context-customer.html'"></ng-include>
                        </uib-accordion-group>
                        <uib-accordion-group>
                            <uib-accordion-heading>
                                Агент <toggle ref="user.agent" flag="enable"></toggle>
                            </uib-accordion-heading>
                            <ng-include src="tplDir + 'ua-context-agent.html'"></ng-include>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>
            </uib-tab>

            <uib-tab heading="Роли">

                <div class="x-margin-top-10">
                    <uib-accordion close-others="true">
                        <uib-accordion-group>
                            <uib-accordion-heading>
                                Оператор <toggle ref="user.agentOperator" flag="enable"></toggle>
                            </uib-accordion-heading>
                            <ng-include src="tplDir + 'ua-group-operator.html'"></ng-include>
                        </uib-accordion-group>

                        <uib-accordion-group>
                            <uib-accordion-heading>
                                Менеджер <toggle ref="user.agentManager" flag="enable"></toggle>
                            </uib-accordion-heading>
                            <ng-include src="tplDir + 'ua-group-manager.html'"></ng-include>
                        </uib-accordion-group>

                        <uib-accordion-group>
                            <uib-accordion-heading>
                                Клиент <toggle ref="user.customerCustomer" flag="enable"></toggle>
                            </uib-accordion-heading>

                            <ng-include src="tplDir + 'ua-group-customer.html'"></ng-include>
                        </uib-accordion-group>

                        <uib-accordion-group>
                            <uib-accordion-heading>
                                Исполнитель <toggle ref="user.agentPerformer" flag="enable"></toggle>
                            </uib-accordion-heading>
                            <ng-include src="tplDir + 'ua-group-performer.html'"></ng-include>
                        </uib-accordion-group>

                        <uib-accordion-group>
                            <uib-accordion-heading>
                                Администратор <toggle ref="user.agentAdmin" flag="enable"></toggle>
                            </uib-accordion-heading>
                            <ng-include src="tplDir + 'ua-group-admin.html'"></ng-include>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary"
                ng-if="!user.account.id"
                type="button" ng-click="save(user)"><i class="fa fa-plus"></i> Создать</button>

        <button class="btn btn-primary"
                ng-if="user.account.id"
                ng-click="update(user)"
                type="button"> <i class="fa fa-refresh"></i> Обновить</button>

        <button class="btn btn-danger" type="button" ng-click="cancel()">
            <i class="fa fa-close"></i> Отмена
        </button>
    </div>
</cover>