<cover trigger="covered" type="success" label="подождите...">
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-10">
                <h3 class="modal-title">
                    {{ticket.id ? "Редактирование заявки #" + ticket.id : "Создание новой заявки"}}
                </h3>
            </div>
            <div class="col-xs-2 text-right">
                <a href="" class="btn btn-default btn-sm" ng-click="close()">
                    <b class="fa fa-close"></b>
                </a>
            </div>
        </div>
    </div>

    <div class="modal-body">
        <form class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label class="control-label">Заголовок</label>
                        <input type="text" class="form-control" ng-model="ticket.title">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-4">
                        <label class="control-label">Дата фиксации</label>
                        <input class="form-control" ng-model="ticket.dateOpen" readonly/>
                    </div>

                    <div class="col-xs-4">
                        <label class="control-label">Приоритет</label>
                        <select class="form-control" ng-if="!ticket.id">
                            <option>Высокий</option>
                            <option selected="selected">Средний</option>
                        </select>
                        <input value="Средний" class="form-control" ng-if="ticket.id" readonly/>
                    </div>

                    <div class="col-xs-4">
                        <label class="control-label">Услуга</label>
                        <input type="text"
                               ng-readonly="ticket.id"
                               ng-model="ticket.service"
                               uib-typeahead="service as service.title for service in customer.contractor.services | filter:$viewValue"
                               typeahead-min-length="0"
                               typeahead-editable="false"
                               typeahead-show-hint="true"
                               class="form-control">
                    </div>
                </div>

                <div class="form-group" ng-if="ticket.id">
                    <div class="col-xs-6">
                        <label class="control-label">Инициатор</label>
                        <input type="text"
                               value="{{ticket.author.firstName}} {{ticket.author.secondName}}"
                               class="form-control"
                               readonly>
                    </div>

                    <div class="col-xs-6">
                        <label class="control-label">Исполнитель</label>
                        <input type="text" ng-model="ticket.performer.firstName" class="form-control" readonly/>
                    </div>
                </div>

                <div class="form-group" ng-if="ticket.progress > 0">
                    <div class="col-xs-12">
                        <label class="control-label">Прогресс</label>
                        <uib-progressbar animate="true" value="ticket.progress" type="success">
                            {{ticket.progress}}%
                        </uib-progressbar>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label class="control-label">Описание</label>
                        <textarea class="form-control"
                                  rows="5"
                                  ng-model="ticket.description"></textarea>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary"
                type="button"
                ng-if="ticket.id"
                ng-click="update(ticket)">Сохранить</button>

        <button class="btn btn-primary"
                type="button"
                ng-click="new(ticket)"
                ng-if="!ticket.id">Создать</button>

        <button class="btn btn-warning" type="button" ng-click="close()">Отмена</button>
    </div>
</cover>